<div class="servepage-jumbo clear">
	<%= image_tag "serve-bg.jpg" %>	
	<div class="slogan">
		<h3><span class="glyphicon glyphicon-leaf" style="color: #519548; font-size: 35px"></span>&nbsp;<span style="color: #CBE86B;">better</span> tasting iced tea</h3>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #519548; font-size: 35px"></span>&nbsp;fixed price & substantially <span style="color: #519548;">lower<span> logistical costs</h3>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #519548; font-size: 35px"></span>&nbsp;once a month changing of <span style="color: #CBE86B;">BIBS</span></h3>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #519548; font-size: 35px"></span>&nbsp;<span style="color: #519548;">unlimited</span> tea servings</h3>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #519548; font-size: 35px"></span>&nbsp;flat <span style="color: #CBE86B;">monthly</span> subscription</h3>
	</div>
</div>

<div class="servepage-jumbo-2 clear">
	<div class="green-hr"></div>
	<div class="green-hr-2"></div>
	<%= image_tag "tea.jpg" %>
	<h3>bae's Innovative Subscription Model:</h3>
	<br>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok" style="color: #8EC2C0;"></span>&nbsp;&nbsp;&nbsp;&nbsp;No Purchasing</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok" style="color: #8EC2C0;"></span>&nbsp;&nbsp;&nbsp;&nbsp;No Inventory</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok" style="color: #8EC2C0;"></span>&nbsp;&nbsp;&nbsp;&nbsp;No Reordering</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-ok" style="color: #8EC2C0;"></span>&nbsp;&nbsp;&nbsp;&nbsp;No Hassle</p>
</div>
<div class="servepage-jumbo-2 clear">
	<div class="bae-action clear">
		<h1><span style="color: #CBE86B;">&#10092;</span>&nbsp;&nbsp;bae in action&nbsp;&nbsp;<span style="color: #CBE86B;">&#10093;</span></h1>
		
		<br><br>
		<div class="bae-box">
			<%= image_tag "tea-bag.jpg" %>
		</div>
		<div class="bae-box">
			<%= image_tag "teacup.jpg" %>
		</div>
		<div class="bae-box">
			<%= image_tag "blacktea.jpg" %>
		</div>

		<div class="bae-box-overlay">
			<h2>a Restaurant uses 3 Bag-In-Box Syrup (BIBS) of Iced Tea per week, approximately 14 Three Gallon BIBS per month.</h2>
		</div>
		<div class="bae-box-overlay-2">
			<h2>on Average this restaurant used to spend $560-$650 on Iced Tea per month.</h2>
		</div>
		<div class="bae-box-overlay-3">
			<h2>a SINGLE one gallon BIBS could match a MONTH’S worth of drinks provided by the standard Iced Tea BIBS used by the restaurant.</h2>
		</div>

		
		

	</div>
	<br><br><br><br>
</div>
