<div class="servepage-jumbo clear">

<div class="why">
	<div class="center">
		<%= image_tag "scooter.png" %>
		<%= image_tag "servetea.jpg" %>
		<%= image_tag "delivery.jpg" %>
	</div>

	<h1>Why Serve bae?</h1>

	<p>bae™’s proprietary dispensing technology, revolutionary pricing & hassle free procurement model will dramatically improve the way you manage your logistics, storage, labor and waste at every level of procurement, inventory and operation.</p>
	<br>
	<%= button_to "Explore our Flavors", '#', method: "get", class: "left btn btn-lg btn-danger" %>
</div>

	<div class="slogan-serve">
		<h1>Advantages of bae™</h1>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #CBE86B; font-size: 25px"></span>&nbsp;<span style="color: #519548;">better</span> tasting iced tea</h3>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #CBE86B; font-size: 25px"></span>&nbsp;fixed price & substantially <span style="color: #519548;">lower<span> logistical costs</h3>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #CBE86B; font-size: 25px"></span>&nbsp;once a month changing of <span style="color: #519548;">BIBS</span></h3>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #CBE86B; font-size: 25px"></span>&nbsp;<span style="color: #519548;">unlimited</span> tea servings</h3>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #CBE86B; font-size: 25px"></span>&nbsp;flat <span style="color: #519548;">monthly</span> subscription</h3>
	</div>
	<div class="vertical-hr"></div>
	<div class="slogan-serve">
		<h1>Innovative Subscription Model</h1>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #CBE86B; font-size: 25px"></span>&nbsp;No <span style="color: #519548;">purchasing</span>.</h3>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #CBE86B; font-size: 25px"></span>&nbsp;No <span style="color: #519548;">inventory</span>.</h3>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #CBE86B; font-size: 25px"></span>&nbsp;No <span style="color: #519548;">reordering</span>.</h3>
		<h3><span class="glyphicon glyphicon-leaf" style="color: #CBE86B; font-size: 25px"></span>&nbsp;No <span style="color: #519548;">hassle</span>.</h3>
	</div>
	<br>
</div>
<br>

	<div class="green-hr"></div><div class="green-hr-2"></div>

<br>
<div class="servepage-jumbo-2 clear">
	<div class="bae-action clear">
		<h1><span style="color: #CBE86B;">&#10092;</span>&nbsp;&nbsp;bae in action&nbsp;&nbsp;<span style="color: #CBE86B;">&#10093;</span></h1>
	</div>

	<div class="bae-box">
		<p>A restaurant uses 3 Bag-In-Box Syrup (BIBS) of Iced Tea per week, approximately 14 Three Gallon BIBS per month.<br><br> 

		On average this restaurant used to spend $560-$650 on Iced Tea per month. This cost did not factor in additional logistical costs- procurement, shipping, storage, labor and waste to name a few.<br><br>

		A SINGLE bae One Gallon BIBS could match a month’s worth of drinks provided by the standard Iced Tea BIBS used by the restaurant.</p>
	</div>
	<div class="bae-box-img">
		<%= image_tag "waitress.png" %>
	</div>
</div>
