<div class="navbar-bg">
  <div class="navbar-container center">
    <%= link_to "Home", root_path %> |
    <%= link_to "Serve", serve_path %>
    <%= link_to image_tag("logo.png", alt: "BAE Logo"), root_path %>
    <%= link_to "Planet", planet_path %> |
    <%= link_to "Contact", contact_path %>
  </div>
</div>