<div class="navbar-bg">
  <div class="navbar-container center">
    <%= link_to "home", root_path %> |
    <%= link_to "serve", serve_path %>
    <%= link_to image_tag("logo.png", alt: "BAE Logo"), root_path %>
    <%= link_to "planet", planet_path %> |
    <%= link_to "contact", contact_path %>
  </div>
</div>