<div class="navbar-bg">
  <div class="navbar-container center">
    <%= link_to "home", root_path %> |
    <%= link_to "serve bae", serve_path %>
    <%= link_to image_tag("logo-new.jpg", alt: "BAE Logo"), root_path %>
    <%= link_to "planet bae", planet_path %> |
    <%= link_to "contact", contact_path %>
  </div>
</div>